*.key
*.ipynb_checkpoints
.vscode/*

*/__pycache__
*/.ipynb_checkpoints
**.DS_Store*
*ans.ipynb
**sol*

labs/lab_06/data/tidy_6_babynames_demo.csv
labs/lab_06/data/tidy_6_babynames.csv
labs/lab_06/data/deaths08.csv
